.App{
  text-align: center;
  background-color: rgb(39, 123, 192);
  height: 650px;
}
.form-list{
  background-color: white;
  min-height:100px;
  width: 500px;
  border: thin solid grey;
}
.navbar{
  text-align: center;
}
 .App-header{
  margin: none;
  color: white;
  background-color: rgb(24, 17, 39);
  font-size: xx-large;
}
.form-area{
  width: 500px;
  height: 300px;
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.buttonp{
  background-color: white; 
  color: black; 
  border: thin solid black ;
  border-radius: 4px;
  width: 120px; height: 30px;
  cursor: pointer;
  background-color: rgb(143, 140, 140);
}
.buttonr{
  background-color: white; 
  color: black; 
  border: thin solid black;
  border-radius: 4px;
  width: 30px; height: 30px;
  cursor: pointer;
  background-color: rgb(248, 93, 93);
}
.input input{width: 480px; min-height: 30px; margin-top: 2px;}
.button-group{
  display: inline-block;
  float: right;
  margin-top: 10px;
  margin-right: 5px;  
}

p{ display: inline-block;}
li{
  border: thin solid lightgrey;
  text-align: start;
  margin: 5px;
}
ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
